*{
    margin: 0;
    padding: 0;
}
img{
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 10px;
    transition: 1s ease;
}
img:hover{
    width: 550px;
    height: 450px;
}
h1{
    color: blue;
    margin-left: 100px;
    padding-top: 40px;
    padding-bottom: 10px;
}
h3{
    margin-left: 100px;
    color: rgb(27, 7, 113);
    margin-top: 20px;
    margin-bottom: 5px;
}
p{
    padding-left: 100px;
    padding-right: 200px;
    font-size: 22px;
}
a{
    margin-left: 300px;
}