*{
    margin: 0;
    padding: 0;

}
body img{
    margin-top: 20px;
    margin-left: 50px;
    width: 450px;
    height: 450px;
    transition: 1s ease all;
    border-radius: 10px;
}
body img:hover{
    width: 400px;
    height: 400px;
}
h3{
    margin-left: 520px;
    margin-top: -400px;
    font-size: 30px;
    color: blue;
}
p{
    margin-left: 520px;
    font-size: 20px;
}
.back{
    margin-top: -30px;
    margin-left: 200px;
}
.back1{
    margin-top: -640px;
    margin-left: 1100px;
}
.back1 a{
    color: brown;
}